.Modal{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 400px;
	max-height: 90vh;
	background-color: #ffffff;
	border-radius: 0.5em;
	box-shadow: 1px 1px 10px 0px #a7a5a552;
	padding: 2rem 0rem 0.6em 1rem;
};
.ContentWrapper{
	max-height: 80vh;
    overflow-y: auto;
    padding: 0em 2rem 2rem 1em;
    margin-right: 1px;
}
.CloseButton{
	display: flex;
	border-top-right-radius: 0.5em;
	background: #0b6400;
	color: #ffffff;
	position: absolute;
	right: 0px;
    top: 0px;
	justify-content: flex-end;
}